In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

In [2]:
pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [3]:
df = pd.read_csv('baseballs.csv')
df = df.sample(frac = 1,random_state = 3)
df.head()

    0.283  0.144  0.049  0.012  0.013  0.086
31  0.199  0.100  0.029  0.007  0.011  0.188
41  0.284  0.131  0.049  0.012  0.021  0.130
27  0.207  0.154  0.045  0.008  0.000  0.252
25  0.245  0.096  0.044  0.003  0.022  0.151
6   0.228  0.117  0.030  0.006  0.003  0.145